h1{
    text-align: center;
}

p{
    text-align: center;
    color: #636363 ;
}

#box1 {
    width: 261px;
    height: 439px;
    background-color: rgb(220, 201, 201);
    margin-left: 140px;
    margin-top: 330px;
    border-radius: 20px;
    font-family: Montserrat;
}
#box1 img{
    width: 260px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

#box1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Чтобы убрать стандартное подчёркивание ссылки */
    color: inherit; /* Чтобы сохранить цвет текста ссылки */
}

#box2 {
    /* Другие свойства стилей для третьего бокса */
    width: 261px;
    height: 439px;
    background-color: rgb(220, 201, 201);
    margin-top: -440px;
    margin-left: 440px;
    border-radius: 20px;
    font-family: Montserrat;
}
#box2 img{
    width: 260px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
#box2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Чтобы убрать стандартное подчёркивание ссылки */
    color: inherit; /* Чтобы сохранить цвет текста ссылки */
}

#box3 {
    width: 261px;
    height: 439px;
    background-color: rgb(220, 201, 201);
    margin-top: -440px;
    margin-left: 740px;
    border-radius: 20px;
    font-family: Montserrat;
}

#box3 img{
    width: 260px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
#box3 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Чтобы убрать стандартное подчёркивание ссылки */
    color: inherit; /* Чтобы сохранить цвет текста ссылки */
}
#box4 {
    width: 261px;
    height: 439px;
    background-color: rgb(220, 201, 201);
    margin-top: -440px;
    margin-left: 1040px;
    border-radius: 20px;
    font-family: Montserrat;

}
#box4 img{
    width: 260px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}
#box4 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Чтобы убрать стандартное подчёркивание ссылки */
    color: inherit; /* Чтобы сохранить цвет текста ссылки */
}
.general-box{
    margin-bottom: 50px;
}