.knowledge-test-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Для размещения по центру экрана */
}

.knowledge-test-box {
    width: 1120px;
    height: 328px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: rgb(28,28,28); /* Белый цвет текста */
    background-color: rgb(247,247,247); /* Цвет фона */
    margin: 50px auto 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',Arial ,  sans-serif; /* Используем шрифт Roboto */

}

.knowledge-test-box h3 {
    font-size: 25px;
}

.knowledge-test-box p {
    font-size: 30px;
    margin-bottom: 20px;
}
.knowledge-test-box a {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 211, 105);
    color: rgb(28, 28, 28);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.knowledge-test-box button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
    );
    transition: left 0.5s ease;
}

.knowledge-test-box button:hover::before {
    left: 100%;
}
