.about-container {
    width: 1158px;
    height: 528px;
    background-color: rgb(247, 247, 247);
    padding:  20px; /* Увеличенный padding-top */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
    margin-top: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat',Arial ,  sans-serif; /* Используем шрифт Roboto */
}

/* Остальные стили без изменений */
.about-text {
    font-size: 16px;
    line-height: 1.6;
}

.about-text h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-text h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-text ul {
    margin-bottom: 20px;
}

.about-text li {
    margin-bottom: 5px;
}
